# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
env/

# Data and Models
data/
models/*.pth
*.pt

# IDE
.idea/
.vscode/

# Test coverage
.coverage
coverage.xml
htmlcov/

# Logs
*.log 

# Image Augmentation
augmented_samples/
*.png 